// COLORS
$color-primary: #6A8285;
$color-primary-light: #88a5a9;
$color-primary-dark: #5c7073;

$color-secondary-light: #376D6F;
$color-secondary-dark: #295354;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-green-mid: #a7a98e;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #29342b;

$color-white: #fff;
$color-black: #000;
$color-dark-text: #2e3c30;

// FONT
$default-font-size: 1.8rem;

// GRID
$grid-width: 100rem;
$grid-gap: 1rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
